<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/tab2"></ion-back-button>
      <ion-title>Nova Compra</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup" (ngSubmit)="addProduto()">
    <ion-item class="pd-3">
      <ion-label position="stacked">Produto</ion-label>
      <ion-input formControlName="produto"></ion-input>
    </ion-item>
    <ion-item class="pd-3">
      <ion-label position="stacked">Valor</ion-label>
      <ion-input type="number" formControlName="valor"></ion-input>
    </ion-item>
    <div class="pd-3">
      <ion-button color="success" type="submit" fill="outline">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </div>
  </form>
  <ion-item class="item-qtde pd-3">
    <ion-label>Quantidade de produtos:</ion-label>
    <ion-badge slot="end">{{listProdutos.length}}</ion-badge>
  </ion-item>

  <app-list
    [listProdutos]="listProdutos"
    (outEdit)="onEdit($event)"
    (outDel)="onDelete($event)"
  ></app-list>

  <div class="pd-3">
    <ion-button
      color="primary"
      expand="block"
      fill="outline"
      (click)="onSalvar()"
    >
      Salvar Lista
    </ion-button>
  </div>
</ion-content>
