<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="{{ mode === 'default' ? 'tabs/tab1' : 'tabs/tab2'}}"
      ></ion-back-button>
      <ion-title>Suas Compras</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment
    value="NAO_FINALIZADA"
    mode="ios"
    (ionChange)="changeSegment($event)"
    *ngIf="mode === 'default'"
  >
    <ion-segment-button value="NAO_FINALIZADA">
      <ion-label>Á Fazer</ion-label>
    </ion-segment-button>
    <ion-segment-button value="FINALIZADA">
      <ion-label>Feitas</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-list
    [list]="list"
    (sendIdCompra)="getIdCompra($event)"
    (deleteCompra)="onDeleteCompra($event)"
  ></app-list>
</ion-content>
