<ion-header>
  <ion-toolbar>
    <ion-title>list-buys</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment
    value="NAO_FINALIZADA"
    mode="ios"
    (ionChange)="changeSegment($event)"
  >
    <ion-segment-button value="NAO_FINALIZADA">
      <ion-label>Á Fazer</ion-label>
    </ion-segment-button>
    <ion-segment-button value="FINALIZADA">
      <ion-label>Feitas</ion-label>
    </ion-segment-button>
  </ion-segment>
  <app-list
    [list]="list"
    (sendIdCompra)="getIdCompra($event)"
    (deleteCompra)="onDeleteCompra($event)"
  ></app-list>
</ion-content>
